
 	 <div class="container-spacing2 text-center">
		 <h1 class="intro"> Welcome To Yak Yik!
		 </h1>


	 </div>
	 <div class="container-spacing1 bg-2 ">
	 	<h2 class="second"> Don't Miss the Race of the Century!
		</h2>

	</div>

	<div class="container-spacing2 bg-1">
		<h2 class="second"> Third!</h2>


	</div>
