<div class="form-horizontal text-center" role="form">
  <%= form_for(@challenge) do |f| %>
    <% if @challenge.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

        <ul>
        <% @challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :description, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :deadline, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.date_select :deadline, start_year: Time.now.year, class: "form-control" %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :terms, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :terms, class: "form-control" %>
      </div>
    </div>
    <div class="actions col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default pull-right" %>
    </div>
  <% end %>
</div>
